*{
  box-sizing: border-box;
}
body{
margin: 0;
background-color: black;
}

/* LAYOUT */

.contenido-página {
  display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
    grid-row-gap: 0;
  }


#topbar{
  grid-column: 1/6;
  grid-row: 1;
  background: #333;
}
#header {
  grid-column: 1/6;
  grid-row: 2;
  position: relative;
}

#contenido{
  grid-column: 1/6;
  grid-row: 3;
}
#contenido2{
  grid-column: 1/6;
  grid-row: 4;
}

#contenido3{
  grid-column: 1/6;
  grid-row: 5;
}

.footer{
  grid-column: 1/6;
  grid-row: 6;
}



/* MENÚ */
#menu {
padding: 0.5em;
}

/* CLEARFIX */
#menu:after {
  content: "";
  display: table;
  clear: both;
}

.item {
  float: left;
  padding: 0.5em;
  margin: 0.5em;
  color: white;
  background-color: #333;
  font-family: "Muli";
  font-size: 16px;
}

.subitem {
  padding: 0.5em;
  color: white;
  background-color: #333;

}


.submenu {
  display: none;
  margin-left: -9px;
  margin-top: 8px;
  z-index: 2;
}

.item:hover > .submenu {
  position: absolute;
  display: block;
}
.subitem:hover{
  background-color: rgb(255, 204, 153);
}
.item:hover {
  background-color: rgb(13, 13, 13);
  border-radius: 0.5em;
}

#logo {
  float: left;
  padding: 0.5em;
  margin: 0.5em;
  color: white;
  font-size: 20px;
  font-family: "Lobster";
  font-weight: bold;
}


/* SLIDER */
#header{
  position: relative;
  background-color: black
}

.slider2 > img{
  width: 100%;
}

.slider2{
  font-family: "Oswald";
  color: white;
}

.button-left,.button-right{
  cursor: pointer;
  width: auto;
  color: white;
background-color: transparent;
  font-weight: bold;
  font-size: 28px;
  border: none;
}

.button-right{
  float:right;
  position: relative;
}

.button-left{
  float: left;
  position: relative;
}



.arrows{
position: absolute;
top: 0;
right: 0;
left: 0;
bottom: 0;
margin: auto;
height: 200px;
}


.button-right:hover,.button-left:hover {
 color: rgb(255, 204, 0);
}

.descripcion2{
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 1px 1px #000;
  z-index: 5;
  cursor: pointer;
}

.descripcion3{
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  font-size: 20px;
  height: 10px;
  text-align: center;
  text-shadow: 2px 1px 1px #000;
  z-index: 5;
  cursor: pointer;

}

.background{
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  background-color: rgb(0, 0, 0, .7);
  height: 70px;
}

/* CONTENIDO */
#contenido2, #contenido, #contenido3{
  background-color: black;
  font-family: "Muli";
}

.música{
  text-align: center;
  font-family: "Francois One";
  font-size: 35px;
  color: white;
 margin-top: 15px;

}


.series{
  text-align: center;
  font-family: "Francois One";
  font-size: 35px;
  color: white;
  margin-top: 15px;
}

.peliculas{
  text-align: center;
  font-family: "Francois One";
  font-size: 35px;
  color: white;
  margin-top: 15px;
}

/* CONTENIDO1 */
#música-cards{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(60px, auto);
  grid-row-gap: 0;
  color: white;
  font-family: "Muli";
}

.title-border{
  background-color: yellow;
  position: relative;
  width: 120px;
  height: 4px;
  left: 43%;
  margin-bottom: 50px;
  padding-top: 1px;
}
.artista{
  color: grey;
  text-align: center;
}

.música-1{
  text-align: center;
}

.top{
  color: white;
}

#contenido{
  margin-bottom: 3em;
}

/* CONTENIDO 2 */

#serie-cards{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);
  grid-row-gap: 0;
  color: white;
  font-family: "Muli";
  margin-bottom: 3em;
}

.serie-1{
  text-align: center;
}

.h3-titulo{
  color: rgb(245, 197, 24);
  font-family: "Roboto";
  font-size: 34px;
  letter-spacing: 0.2499px
}

.descripcion, .descripcion5{

  color: white;
}

.fa-star{
  color: yellow;
}


/* CONTENIDO 3 */


.tarjetas{
  margin-bottom: 3em;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);
  grid-row-gap: 0;
  margin-left: 4em;
}

.video{
  color: white;
  font-size: 18px;
  font-family: "Muli";
  text-align: center;
}

.descripcion:hover{
  color: yellow;
  cursor: pointer;
}

.descripcion{
  text-align: center;
}



/* FOOTER */
.footer{
  display: grid;
  grid-template-columns: repeat(2, minmax(20em, 1fr));
  background-color: #c4cdd2;
  color: white;
  font-family: "Muli";
  border: 1px solid grey;
  padding: 0.5em;
}



.texto-fr, .texto-fl{
  text-align: center;
}
a{
  text-decoration: none;
  outline: none;
  color: white;
}
.enlace1, .enlace2, .enlace3, .enlace4, .enlace5{
    font-size: 33px;
}

.enlace1:hover{
  color: #12546a;
}

.enlace2:hover{
  color: #6ec59b;
}

.enlace3:hover{
  color: #823232;
}

.enlace4:hover{
  color: rgba(27,127,204,.8);
}

.enlace5:hover{
  color: #f1f1f1;
}


/* RESPONSIVE */
@media only screen and (max-width: 600px) {

  #topbar{
    grid-column: 1/3;
    grid-row: 1;
    background: #333;
  }
  #header {
    grid-column: 1/3;
    grid-row: 2;
  }
  #main-area{
    grid-column: 1/3;
    grid-row:  3;
    display: grid;
  }
  #contenido{
    grid-column: 1/3;
    grid-row: 4;
  }
  #contenido2{
    grid-column: 1/3;
    grid-row: 5;
  }

  #contenido3{
    grid-column: 1/3;
    grid-row: 6
  }

  .footer{
    grid-column: 1/3;
    grid-row: 7;
  }
}
